@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.chart-container {
    position: relative;
    width: 100%;
    height: 500px;

    > div {
        height: 100%;
    }

    &::after {
        content: "WHIP";
        font-family: "Anton", sans-serif;
        font-style: italic;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        font-size: 300px;
        opacity: 0.01;
        z-index: 1;
        margin-top: 0px;
        height: 100%;
    }
}
